/* GENERAL */

.row-vertically-centered {
    display: flex;
    align-items: center;
}

.big-logo {
    margin-top: 20px;
}

/* PAGE HEADER */

.page-header-custom {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

/* HOME */
.search-custom {
    margin-bottom: 45px;
}

.search-button-custom {
    margin-left: 10px;
}

.categories-custom {
    margin-bottom: 10px;
}

.auctions-list-custom a {
    color: black;
    text-decoration: none; /* no underline */
}

.auction-custom {
    padding: 10px 0;
    margin-bottom: 25px;
}

.auction-custom:hover .auction-title-custom {
    text-decoration: underline;
}

.auction-price-custom {
    margin-bottom: 0px;
    font-weight: bold;
}